h3, p, h2 {
    color: white;
}

.card p {
    font-size: 0.8em;
}

a {
    color: white;
}

main {
    width: 95%;
    margin: 0 auto;
}

iframe {
    object-fit: contain;
    width: auto;
    /* margin: 0 auto; */
    /* width: 100%; */
}

img {
    object-fit: contain;
    width: 100%;
}

.card {
    border: 1px solid gold;
    padding: 9px;
    margin: 10px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

.news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 610px) {
    .card {
        width: 45%;
    }

    .iframe {       
       height: 30vw;
    }

    .news {
        justify-content: space-between
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 20%;
    }
}