/* MAIN */
.wrapper {
    background-repeat: no-repeat;
    background-image: url("../assets/bg/top_bg_mobile.jpg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0 , 0.1) 0%, rgba(0, 0, 0, 1) 90vw, rgba(0, 0, 0, 1) 100%), url("../assets/bg/top_bg_mobile.jpg");
}

main p, main h3, main h2 {
    color: white;
}

.uitleg {
    text-align: center;
    margin: 25px;
    margin-top: 250px;
}

.champions h2 {
    text-align: center;
}

.card {
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
}

.card img {
    object-fit: contain;
}

.tekst {
    margin-left: 10px;
}

@media screen and (min-width: 610px) {
    .wrapper {
        background-image: url("../assets/bg/top_bg_tablet.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0 , 0.1) 0%, rgba(0, 0, 0, 1) 90vw, rgba(0, 0, 0, 1) 100%), url("../assets/bg/top_bg_tablet.jpg");
    }

    .uitleg {
        margin: 50px;
    }

    .card {
        flex-direction: row;
        margin: 25px auto;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        background-image: url("../assets/bg/top_bg_tablet.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0 , 0.1) 0%, rgba(0, 0, 0, 1) 90vw, rgba(0, 0, 0, 1) 100%), url("../assets/bg/top_bg_tablet.jpg");
    }

    .champions {
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
    }

    .champions h2 {
        width: 100%;
    }

    .champions .card {
        width: 20%;
        position: relative;
    }

    .card .tekst  {
        position: absolute;
        width: 70%;
        font-size: 0.8vw;
        opacity: 0;
        transition: opacity 1s;
    }

    .champions .tekst:hover {
        opacity: 1;
        cursor: pointer;
    }
}