/* MAIN */
main p, main h3, main h2 {
    color: white;
}

.uitleg {
    text-align: center;
    margin: 25px;
    margin-top: 250px;
}

.champions h2 {
    text-align: center;
}

.card {
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
}

.card img {
    object-fit: contain;
}

.tekst {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .uitleg {
        margin: 50px;
    }

    .card {
        flex-direction: row;
        margin: 25px auto;
    }
}

@media screen and (min-width: 1024px) {
    main {
        width: 80%;
        margin: 0 auto;
    }

    .uitleg {
        background-color: rgba(0, 0, 0 , 0.2);
    }

    /* champion hover */
    .champions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .champions h2 {
        width: 100%;
    }

    .champions .card {
        width: 240px;
        height: 340px;
        position: relative;
    }

    .card .tekst  {
        margin: 0;
        position: absolute;
        width: 96%;
        height: 100%;
        font-size: 0.7vw;
        opacity: 0;
        transition: opacity 1s;
        text-align: center;
        padding: 0 2%;
    }

    .champions .tekst:hover {
        opacity: 1;
        cursor: pointer;
        background-color: rgba(0, 0, 0 , 0.5)
    }
    
    .tekst p, .tekst h3 {
        color: white;
    }
}